## ISE is very, VERY messy:

/_impactbatch.log
/_ngo/
/_xmsgs/
/iseconfig/
/tmperr.err
/webtalk_pn.xml
/xlnx_auto_0_xdb/
/xst/

/samx4.bld
/samx4.gyd
/samx4.jed
/samx4.lso
/samx4.mfd
/samx4.nga
/samx4.ngc
/samx4.ngd
/samx4.ngr
/samx4.pad
/samx4.pnx
/samx4.prj
/samx4.rpt
/samx4.stx
/samx4.svf
/samx4.syr
/samx4.tim
/samx4.tspec
/samx4.vm6
/samx4.xml
/samx4.xst
/samx4_build.xml
/samx4_envsettings.html
/samx4_html/
/samx4_ngdbuild.xrpt
/samx4_pad.csv
/samx4_summary.html
/samx4_timing.html
/samx4_xst.xrpt

/samx4-785.bld
/samx4-785.gyd
/samx4-785.jed
/samx4-785.lso
/samx4-785.mfd
/samx4-785.nga
/samx4-785.ngc
/samx4-785.ngd
/samx4-785.ngr
/samx4-785.pad
/samx4-785.pnx
/samx4-785.prj
/samx4-785.rpt
/samx4-785.stx
/samx4-785.svf
/samx4-785.syr
/samx4-785.tim
/samx4-785.tspec
/samx4-785.vm6
/samx4-785.xml
/samx4-785.xst
/samx4-785_build.xml
/samx4-785_envsettings.html
/samx4-785_html/
/samx4-785_ngdbuild.xrpt
/samx4-785_pad.csv
/samx4-785_summary.html
/samx4-785_timing.html
/samx4-785_xst.xrpt

/samx4-rockyhill.bld
/samx4-rockyhill.gyd
/samx4-rockyhill.jed
/samx4-rockyhill.lso
/samx4-rockyhill.mfd
/samx4-rockyhill.nga
/samx4-rockyhill.ngc
/samx4-rockyhill.ngd
/samx4-rockyhill.ngr
/samx4-rockyhill.pad
/samx4-rockyhill.pnx
/samx4-rockyhill.prj
/samx4-rockyhill.rpt
/samx4-rockyhill.stx
/samx4-rockyhill.svf
/samx4-rockyhill.syr
/samx4-rockyhill.tim
/samx4-rockyhill.tspec
/samx4-rockyhill.vm6
/samx4-rockyhill.xml
/samx4-rockyhill.xst
/samx4-rockyhill_build.xml
/samx4-rockyhill_envsettings.html
/samx4-rockyhill_html/
/samx4-rockyhill_ngdbuild.xrpt
/samx4-rockyhill_pad.csv
/samx4-rockyhill_summary.html
/samx4-rockyhill_timing.html
/samx4-rockyhill_xst.xrpt

/samx4-785-rockyhill.bld
/samx4-785-rockyhill.gyd
/samx4-785-rockyhill.jed
/samx4-785-rockyhill.lso
/samx4-785-rockyhill.mfd
/samx4-785-rockyhill.nga
/samx4-785-rockyhill.ngc
/samx4-785-rockyhill.ngd
/samx4-785-rockyhill.ngr
/samx4-785-rockyhill.pad
/samx4-785-rockyhill.pnx
/samx4-785-rockyhill.prj
/samx4-785-rockyhill.rpt
/samx4-785-rockyhill.stx
/samx4-785-rockyhill.svf
/samx4-785-rockyhill.syr
/samx4-785-rockyhill.tim
/samx4-785-rockyhill.tspec
/samx4-785-rockyhill.vm6
/samx4-785-rockyhill.xml
/samx4-785-rockyhill.xst
/samx4-785-rockyhill_build.xml
/samx4-785-rockyhill_envsettings.html
/samx4-785-rockyhill_html/
/samx4-785-rockyhill_ngdbuild.xrpt
/samx4-785-rockyhill_pad.csv
/samx4-785-rockyhill_summary.html
/samx4-785-rockyhill_timing.html
/samx4-785-rockyhill_xst.xrpt
