# SAMx4
#
# This pin configuration is for the revX4+ PCB layout.
#
# NOTE: you may need to enable "exhaustive fit" in ISE, depending on selected
# configuration.

## 18 Outputs

# SRAM implementation only
# Z bus expanded to 21 bits - provides 4MB address space for paging

NET Z<0> LOC = P85;
NET Z<1> LOC = P89;
NET Z<2> LOC = P94; 
NET Z<3> LOC = P65;
NET Z<4> LOC = P67;
NET Z<5> LOC = P70;
NET Z<6> LOC = P72;
NET Z<7> LOC = P56;
NET Z<8> LOC = P49;

NET Z<9> LOC = P35;
NET Z<10> LOC = P36;
NET Z<11> LOC = P37;
NET Z<12> LOC = P39;
NET Z<13> LOC = P40;
NET Z<14> LOC = P41;
NET Z<15> LOC = P42;
NET Z<16> LOC = P43;
NET Z<17> LOC = P81;
NET Z<18> LOC = P29;
NET Z<19> LOC = P30;
NET Z<20> LOC = P32;
NET Z<21> LOC = P33;

NET S<0> LOC = P79;
NET S<1> LOC = P77;
NET S<2> LOC = P74;
NET nWE LOC = P53;
NET Q LOC = P97;
NET E LOC = P91;
NET nRAS0 LOC = P71;
NET VClk LOC = P1;

NET nNMI LOC = P73;
NET nFIRQ LOC = P68;
NET nIRQ LOC = P64;

## 21 Inputs

NET A<0> LOC = P80;
NET A<1> LOC = P78;
NET A<2> LOC = P76;
NET A<3> LOC = P63;
NET A<4> LOC = P58;
NET A<5> LOC = P59;
NET A<6> LOC = P60;
NET A<7> LOC = P61;
NET A<8> LOC = P17;
NET A<9> LOC = P18;
NET A<10> LOC = P19;
NET A<11> LOC = P20;
NET A<12> LOC = P12;
NET A<13> LOC = P14;
NET A<14> LOC = P9;
NET A<15> LOC = P8;

NET D<0> LOC = P6;
NET D<1> LOC = P7;
NET D<2> LOC = P34;
NET D<3> LOC = P90;
NET D<4> LOC = P92;
NET D<5> LOC = P93;
NET D<6> LOC = P95;
NET D<7> LOC = P96;

## need to identify 4 more IO pins for a DO(7..0) bus
## for data output not just input

NET DA0 LOC = P22 | BUFG = CLK;
NET OscOut LOC = P23 | BUFG = CLK;

NET nHS LOC = P46;
NET RnW LOC = P87;
# Reset (AKA vclkIN) is indirect, so while this would normally be an SR pin, it doesn't make
# sense to configure it as such:
NET nRST LOC = P99 | BUFG = DATA_GATE;

NET nNMIx LOC = P86;
NET nIRQx LOC = P50;
NET nFIRQx LOC = P52;

# memory size identification
NET SZ[0] LOC = P24;
NET SZ[1] LOC = P25;
NET SZ[2] LOC = P28;

## Timing constraints

NET OscOut TNM_NET = OSC;
TIMESPEC TS_OSC = PERIOD OSC 34.921 nS HIGH 50.000 %;

NET A<*> TNM_NET = A;
NET S<*> TNM_NET = S;
NET Z<*> TNM_NET = Z;
TIMESPEC TS_A_S = FROM A TO S 9 ns;
TIMESPEC TS_A_Z = FROM A TO Z 14 ns;
