# SAMx4
#
# This pin configuration is for Pedro Peña's variant 0.x PCB layout.
#
# NOTE: you may need to enable "exhaustive fit" in ISE, depending on selected
# configuration.

## 18 Outputs

NET Z<0> LOC = P65;
NET Z<1> LOC = P67;
NET Z<2> LOC = P68;
NET Z<3> LOC = P70;
NET Z<4> LOC = P71;
NET Z<5> LOC = P72;
NET Z<6> LOC = P74;
NET Z<7> LOC = P77;
NET Z<8> LOC = P85;

NET S<0> LOC = P63;
NET S<1> LOC = P61;
NET S<2> LOC = P60;

NET nWE LOC = P8;
NET Q LOC = P14;
NET E LOC = P17;
NET nCAS LOC = P9;
NET nRAS0 LOC = P12;
NET VClk LOC = P1;

## 21 Inputs

NET A<0> LOC = P19;
NET A<1> LOC = P20;
NET A<2> LOC = P46;
NET A<3> LOC = P49;
NET A<4> LOC = P53;
NET A<5> LOC = P56;
NET A<6> LOC = P58;
NET A<7> LOC = P59;
NET A<8> LOC = P94;
NET A<9> LOC = P91;
NET A<10> LOC = P89;
NET A<11> LOC = P87;
NET A<12> LOC = P80;
NET A<13> LOC = P79;
NET A<14> LOC = P78;
NET A<15> LOC = P76;

NET DA0 LOC = P22 | BUFG = CLK;
NET OscOut LOC = P23 | BUFG = CLK;

NET nHS LOC = P97;
NET RnW LOC = P18;
# Reset is indirect, so while this would normally be an SR pin, it doesn't make
# sense to configure it as such:
NET nRST LOC = P99 | BUFG = DATA_GATE;

## Timing constraints

NET OscOut TNM_NET = OSC;
TIMESPEC TS_OSC = PERIOD OSC 69.841 nS HIGH 50.000 %;

NET A<*> TNM_NET = A;
NET S<*> TNM_NET = S;
NET Z<*> TNM_NET = Z;
TIMESPEC TS_A_S = FROM A TO S 18 ns;
TIMESPEC TS_A_Z = FROM A TO Z 28 ns;
